/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-018 * {
  box-sizing: border-box; }

.fc-layout-018 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-018 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-018 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-018 .container.dark {
    background-color: #282828; }

.fc-layout-018 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-018 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-018 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-018 .container-fluid .container {
    padding: 0; }

.fc-layout-018 h1,
.fc-layout-018 h2,
.fc-layout-018 h3,
.fc-layout-018 h4,
.fc-layout-018 h5,
.fc-layout-018 h6,
.fc-layout-018 p,
.fc-layout-018 blockquote,
.fc-layout-018 ul,
.fc-layout-018 ol,
.fc-layout-018 li,
.fc-layout-018 dl,
.fc-layout-018 dt,
.fc-layout-018 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-018 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-018 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-018 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-018 .vbox,
.fc-layout-018 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-018 .vbox {
  flex-direction: row; }


.fc-layout-018 .hbox {
  flex-direction: column; }

.fc-layout-018 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-018 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-018 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-018 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-018 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-018 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-018 {
  background-color: #f8f8f8; }
  .fc-layout-018 img {
    width: 230px;
    height: 230px; }
  .fc-layout-018 .vbox + .vbox {
    margin-top: 60px; }
  .fc-layout-018 .card {
    padding: 30px 20px;
    box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.1);
    border: solid 1px #e6e8eb;
    background-color: #ffffff; }
  .fc-layout-018 h5 {
    font-size: 20px;
    font-weight: bold;
    line-height: 30px; }
  .fc-layout-018 h5:after {
    content: '.';
    color: #ed234b; }
  .fc-layout-018 ul {
    margin-top: 12px;
    list-style: none;
    font-size: 16px;
    line-height: 24px; }
  .fc-layout-018 li:before {
    content: '- '; }
  .fc-layout-018 blockquote {
    margin-top: 30px;
    padding: 30px 20px 30px 0;
    font-size: 14px;
    line-height: 22px;
    background-color: #e6e6e6;
    border-top: 20px solid #ffffff;
    /* hack: triange on top-left cornder */
    border-left: 20px solid #e6e6e6; }
