@import 'utils/variable';

.fcc-composer .fcc-pane {
  display: flex;
  flex-direction: column;

  background-color: $background;

  height: 100%;
  min-height: 0;

  user-select: none;

  > &-title {
    position: sticky;
    top: 0;

    z-index: 999;
  }
  > &-toolbar {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 0 0.2rem;

    line-height: 3.2rem;
    background-color: $background;

    &--small {
      line-height: 2.8rem;

      .fcc-pane-toolbar-button {
        padding: 0 0.4rem;
      }

      .material-icons {
        font-size: 2rem;
      }
    }

    &-label {
      flex-grow: 1;
      padding: 0 0.3rem;

      .material-icons {
        font-size: 1.25em;
        vertical-align: -.2em;
      }
    }

    &-button {
      padding: 0 0.2rem;
      height: 100%;
      line-height: inherit;

      &:hover {
        background: #8884;
      }
      &[disabled] {
        pointer-events: none;
        opacity: 0.5;
      }

      label {
        line-height: inherit;
        cursor: inherit;
      }
      .material-icons {
        vertical-align: top;
        line-height: inherit;
      }
    }
  }

  > &-content {
    min-height: 0;
    overflow-y: scroll;
    overscroll-behavior: contain;
    flex-grow: 100;
  }
}
