.fcc-composer {
  * {
    box-sizing: border-box;
  }
  label {
    margin-bottom: unset;
  }
  button {
    appearance: none;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;

    background: unset;
    color: inherit;
  }
  .btn ~ .btn {
    margin: unset;
  }
  .btn > .material-icons {
    vertical-align: top;
  }
}
