@import '../common';

.fc-layout-004 {
  @extend %fc-layout;

  h3 {
    width: 230px;
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .card {
    padding-bottom: 30px;
    border-bottom: 1px solid #c8c8d2;

    img {
      margin: 0 20px;
      width: 190px;
      height: 190px;
    }

    h5 {
      line-height: 24px;
      font-size: 16px;
      font-weight: bold;
    }

    p {
      margin-top: 16px;
      line-height: 22px;
      font-size: 14px;
      color: #282828;
    }
  }

  .card:last-child {
    margin-bottom: 0;
  }
}
