/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-007 * {
  box-sizing: border-box; }

.fc-layout-007 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-007 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-007 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-007 .container.dark {
    background-color: #282828; }

.fc-layout-007 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-007 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-007 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-007 .container-fluid .container {
    padding: 0; }

.fc-layout-007 h1,
.fc-layout-007 h2,
.fc-layout-007 h3,
.fc-layout-007 h4,
.fc-layout-007 h5,
.fc-layout-007 h6,
.fc-layout-007 p,
.fc-layout-007 blockquote,
.fc-layout-007 ul,
.fc-layout-007 ol,
.fc-layout-007 li,
.fc-layout-007 dl,
.fc-layout-007 dt,
.fc-layout-007 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-007 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-007 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-007 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-007 .vbox,
.fc-layout-007 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-007 .vbox {
  flex-direction: row; }


.fc-layout-007 .hbox {
  flex-direction: column; }

.fc-layout-007 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-007 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-007 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-007 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-007 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-007 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-007 {
  /* 100% */
  /* 480px = 50% */
  /* 230px = 25% */ }
  .fc-layout-007 .fc-layout-007 * {
    box-sizing: border-box; }
  .fc-layout-007 .fc-layout-007 .container {
    padding: 90px 0;
    background: no-repeat center;
    background-size: cover;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .fc-layout-007 .fc-layout-007 .container {
        margin: 0; } }
    @media screen and (min-width: 1024px) {
      .fc-layout-007 .fc-layout-007 .container {
        max-width: 980px;
        margin: 0 auto; } }
    .fc-layout-007 .fc-layout-007 .container.dark {
      background-color: #282828; }
  .fc-layout-007 .fc-layout-007 .container-fluid {
    padding: 90px 0;
    background: no-repeat center;
    background-size: cover;
    width: 100%; }
    @media screen and (max-width: 1024px) {
      .fc-layout-007 .fc-layout-007 .container-fluid {
        margin: 0; } }
    @media screen and (min-width: 1024px) {
      .fc-layout-007 .fc-layout-007 .container-fluid {
        max-width: 1920px;
        margin: 0 auto; } }
    .fc-layout-007 .fc-layout-007 .container-fluid .container {
      padding: 0; }
  .fc-layout-007 .fc-layout-007 h1,
  .fc-layout-007 .fc-layout-007 h2,
  .fc-layout-007 .fc-layout-007 h3,
  .fc-layout-007 .fc-layout-007 h4,
  .fc-layout-007 .fc-layout-007 h5,
  .fc-layout-007 .fc-layout-007 h6,
  .fc-layout-007 .fc-layout-007 p,
  .fc-layout-007 .fc-layout-007 blockquote,
  .fc-layout-007 .fc-layout-007 ul,
  .fc-layout-007 .fc-layout-007 ol,
  .fc-layout-007 .fc-layout-007 li,
  .fc-layout-007 .fc-layout-007 dl,
  .fc-layout-007 .fc-layout-007 dt,
  .fc-layout-007 .fc-layout-007 dd {
    margin: 0;
    padding: 0;
    word-break: break-all; }
  
  .fc-layout-007 .fc-layout-007 h6 {
    display: inline-block;
    margin: 0;
    padding: 3px 14px;
    line-height: 18px;
    /* 28(height) - 2x2(border) - 2x3(padding) */
    font-size: 14px;
    font-weight: bold;
    color: #ed234b;
    border: 2px solid #ed234b; }
  .fc-layout-007 .fc-layout-007 h6:after {
    content: '.';
    color: #ed234b; }
  .fc-layout-007 .fc-layout-007 img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .fc-layout-007 .fc-layout-007 .vbox,
  .fc-layout-007 .fc-layout-007 .hbox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
  .fc-layout-007 .fc-layout-007 .vbox {
    flex-direction: row; }
  
  .fc-layout-007 .fc-layout-007 .hbox {
    flex-direction: column; }
  .fc-layout-007 .fc-layout-007 .hbox.full {
    flex: 0 1 980px; }
  .fc-layout-007 .fc-layout-007 .hbox.quarter {
    flex: 0 1 230px; }
  .fc-layout-007 .fc-layout-007 .hbox.half {
    flex: 0 1 480px; }
  .fc-layout-007 .fc-layout-007 .hbox.expand {
    flex: 1 1 0; }
  .fc-layout-007 .fc-layout-007 .hbox + .hbox {
    margin-left: 20px; }
  .fc-layout-007 .fc-layout-007 .vbox + .vbox {
    margin-top: 30px; }
  .fc-layout-007 .carousel {
    position: relative;
    margin: 0;
    padding: 0;
    /* IE11 appearance hack */ }
    .fc-layout-007 .carousel * {
      margin: 0;
      padding: 0; }
    .fc-layout-007 .carousel ul,
    .fc-layout-007 .carousel ul li,
    .fc-layout-007 .carousel ul li img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }
    .fc-layout-007 .carousel ul li {
      display: none; }
    .fc-layout-007 .carousel ul li:first-child {
      display: block; }
    .fc-layout-007 .carousel ul li img {
      object-fit: cover; }
    .fc-layout-007 .carousel ol {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 0;
      /* hack: remove wired spacing between form controls */ }
    .fc-layout-007 .carousel ol li {
      display: inline-block; }
    .fc-layout-007 .carousel ol li input {
      background: rgba(255, 255, 255, 0.5) no-repeat center; }
    .fc-layout-007 .carousel ol li input:checked {
      background-color: #ffffff; }
    .fc-layout-007 .carousel input,
    .fc-layout-007 .carousel button {
      /* FIXME: buggy on IE */
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 0;
      background-color: transparent; }
    .fc-layout-007 .carousel input::-ms-expand,
    .fc-layout-007 .carousel button::-ms-expand {
      display: none; }
    .fc-layout-007 .carousel input:focus,
    .fc-layout-007 .carousel button:focus {
      outline: none; }
    .fc-layout-007 .carousel .carousel-prev,
    .fc-layout-007 .carousel .carousel-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
    @media screen and (max-width: 1024px) {
      .fc-layout-007 .carousel {
        width: 100%; }
        .fc-layout-007 .carousel ol {
          bottom: 12px; }
        .fc-layout-007 .carousel ol li + li {
          margin-left: 4px; }
        .fc-layout-007 .carousel ol li input {
          width: 36px;
          height: 2px;
          border-radius: 1px; }
        .fc-layout-007 .carousel .carousel-prev,
        .fc-layout-007 .carousel .carousel-next {
          width: 12px;
          height: 20px; }
        .fc-layout-007 .carousel .carousel-prev {
          left: 10px; }
        .fc-layout-007 .carousel .carousel-next {
          right: 10px; } }
    @media screen and (min-width: 1024px) {
      .fc-layout-007 .carousel {
        margin: 0 auto;
        max-width: 1024px;
        width: 100%; }
        .fc-layout-007 .carousel ol {
          bottom: 14px; }
        .fc-layout-007 .carousel ol li + li {
          margin-left: 6px; }
        .fc-layout-007 .carousel ol li input {
          width: 64px;
          height: 3px;
          border-radius: 2px; }
        .fc-layout-007 .carousel .carousel-prev,
        .fc-layout-007 .carousel .carousel-next {
          width: 25px;
          height: 46px; }
        .fc-layout-007 .carousel .carousel-prev {
          left: 24px; }
        .fc-layout-007 .carousel .carousel-next {
          right: 24px; } }
  .fc-layout-007 .carousel {
    width: 980px;
    height: 540px; }
  .fc-layout-007 .half img {
    width: 480px;
    height: 270px; }
  .fc-layout-007 .carousel-prev,
  .fc-layout-007 .carousel-next {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #7d7d7d;
    background-image: none; }
  .fc-layout-007 .carousel ol {
    padding: 6px 10px;
    background-color: #7d7d7d;
    border-radius: 15px;
    opacity: 0.5; }
  .fc-layout-007 .carousel ol li input {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    opacity: 0.5; }
  .fc-layout-007 .carousel ol li input:checked {
    opacity: 1; }
  .fc-layout-007 .carousel ol li + li {
    margin-left: 20px; }
