@import '../common';

.fc-layout-005 {
  @extend %fc-layout;

  background-color: $bg-alt;

  .container {
  }

  .vbox {
    max-width: 1920px - 470px; /* 950 + 40 + 460 */
  }

  .vbox + .vbox {
    margin-top: $layout-spacing;
  }

  .hbox + .hbox {
    margin-left: 40px;
  }

  .vbox:nth-child(odd) {
    margin-left: 0;
    margin-right: auto;

    .hbox:first-child {
      flex: 1 1 950px;
      min-width: 480px;
      align-items: flex-end;
    }
    .hbox:last-child {
      flex: 0 0 460px;
    }
  }

  .vbox:nth-child(even) {
    margin-left: auto;
    margin-right: 0;

    .hbox:first-child {
      flex: 0 0 460px;
    }
    .hbox:last-child {
      flex: 1 1 950px;
      min-width: 480px;
    }
  }

  img {
    max-width: 950px;
    min-height: 530px;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  p + p {
    margin-top: 12px;
  }

}
