.fc-layout-list {
  h1 {
    display: flex;
    div {
      color: red;
    }
    @media screen and (max-width: 599px) {
      flex-direction: column;
    }
    @media screen and (min-width: 600px) and (max-width: 959px) {
      flex-direction: column;
    }
    @media screen and (min-width: 960px) {
      flex-direction: row;
    }
  }
}
