.fade-in {
  animation: fade-in 0.5s forwards;
}

.fade-out {
  animation: fade-out 0.5s forwards;
}

.slide-in-from-left {
  animation: slide-in-from-left 0.5s forwards;
}

.slide-in-from-right {
  animation: slide-in-from-right 0.5s forwards;
}

.slide-in-from-top {
  animation: slide-in-from-top 0.5s forwards;
}

.slide-in-from-bottom {
  animation: slide-in-from-bottom 0.5s forwards;
}

.slide-out-to-left {
  animation: slide-out-to-left 0.5s forwards;
}

.slide-out-to-right {
  animation: slide-out-to-right 0.5s forwards;
}

.slide-out-to-top {
  animation: slide-out-to-top 0.5s forwards;
}

.slide-out-to-bottom {
  animation: slide-out-to-bottom 0.5s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-out-to-top {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-out-to-bottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}
