/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-010 * {
  box-sizing: border-box; }

.fc-layout-010 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-010 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-010 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-010 .container.dark {
    background-color: #282828; }

.fc-layout-010 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-010 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-010 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-010 .container-fluid .container {
    padding: 0; }

.fc-layout-010 h1,
.fc-layout-010 h2,
.fc-layout-010 h3,
.fc-layout-010 h4,
.fc-layout-010 h5,
.fc-layout-010 h6,
.fc-layout-010 p,
.fc-layout-010 blockquote,
.fc-layout-010 ul,
.fc-layout-010 ol,
.fc-layout-010 li,
.fc-layout-010 dl,
.fc-layout-010 dt,
.fc-layout-010 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-010 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-010 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-010 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-010 .vbox,
.fc-layout-010 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-010 .vbox {
  flex-direction: row; }


.fc-layout-010 .hbox {
  flex-direction: column; }

.fc-layout-010 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-010 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-010 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-010 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-010 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-010 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-010 .hbox + .hbox {
  margin-left: 30px; }

.fc-layout-010 h5 {
  font-size: 20px;
  line-height: 30px; }

.fc-layout-010 h5 + p {
  margin-top: 12px; }

.fc-layout-010 p {
  font-size: 16px;
  line-height: 24px; }

.fc-layout-010 img,
.fc-layout-010 iframe {
  width: 720px;
  height: 405px; }
