/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-014 * {
  box-sizing: border-box; }

.fc-layout-014 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-014 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-014 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-014 .container.dark {
    background-color: #282828; }

.fc-layout-014 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-014 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-014 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-014 .container-fluid .container {
    padding: 0; }

.fc-layout-014 h1,
.fc-layout-014 h2,
.fc-layout-014 h3,
.fc-layout-014 h4,
.fc-layout-014 h5,
.fc-layout-014 h6,
.fc-layout-014 p,
.fc-layout-014 blockquote,
.fc-layout-014 ul,
.fc-layout-014 ol,
.fc-layout-014 li,
.fc-layout-014 dl,
.fc-layout-014 dt,
.fc-layout-014 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-014 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-014 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-014 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-014 .vbox,
.fc-layout-014 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-014 .vbox {
  flex-direction: row; }


.fc-layout-014 .hbox {
  flex-direction: column; }

.fc-layout-014 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-014 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-014 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-014 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-014 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-014 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-014 header h5 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px; }

.fc-layout-014 header p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px; }

.fc-layout-014 .card {
  align-items: center;
  padding: 30px 20px;
  box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.1);
  border: solid 1px #e6e8eb;
  background-color: #ffffff; }
  .fc-layout-014 .card img {
    margin: auto 50px;
    width: 90px;
    height: 90px; }
  .fc-layout-014 .card h5 {
    font-size: 16px;
    line-height: 24px; }
  .fc-layout-014 .card h5 + p {
    margin-top: 12px; }
  .fc-layout-014 .card p {
    font-size: 14px;
    line-height: 22px; }
