@import '../common';

.fc-layout-006 {
  @extend %fc-layout;

  background-color: $bg-alt;

  .hbox + .hbox {
    margin-left: 40px;
  }

  img {
    width: 480px;
    height: 240px;
  }

  h3 {
    line-height: 36px;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    margin-top: 30px;
    line-height: 22px;
    font-size: 14px;
  }
}
