/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-013 * {
  box-sizing: border-box; }

.fc-layout-013 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-013 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-013 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-013 .container.dark {
    background-color: #282828; }

.fc-layout-013 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-013 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-013 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-013 .container-fluid .container {
    padding: 0; }

.fc-layout-013 h1,
.fc-layout-013 h2,
.fc-layout-013 h3,
.fc-layout-013 h4,
.fc-layout-013 h5,
.fc-layout-013 h6,
.fc-layout-013 p,
.fc-layout-013 blockquote,
.fc-layout-013 ul,
.fc-layout-013 ol,
.fc-layout-013 li,
.fc-layout-013 dl,
.fc-layout-013 dt,
.fc-layout-013 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-013 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-013 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-013 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-013 .vbox,
.fc-layout-013 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-013 .vbox {
  flex-direction: row; }


.fc-layout-013 .hbox {
  flex-direction: column; }

.fc-layout-013 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-013 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-013 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-013 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-013 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-013 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-013 {
  background-color: #f8f8f8; }
  .fc-layout-013 header.vbox {
    justify-content: center; }
  .fc-layout-013 header h5 {
    font-size: 20px;
    line-height: 30px;
    text-align: center; }
  .fc-layout-013 header h5 + p {
    margin-top: 12px; }
  .fc-layout-013 header p {
    font-size: 16px;
    line-height: 24px;
    text-align: center; }
  .fc-layout-013 .card-list {
    align-items: stretch; }
    .fc-layout-013 .card-list .card {
      padding: 30px 20px 36px 20px;
      box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.1);
      border: solid 1px #e6e8eb;
      background-color: #ffffff; }
      .fc-layout-013 .card-list .card img {
        width: 90px;
        height: 90px;
        background-color: rgba(237, 35, 75, 0.3);
        margin: 0 auto; }
      .fc-layout-013 .card-list .card img + h5 {
        margin-top: 40px; }
      .fc-layout-013 .card-list .card h5 {
        min-height: 48px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px; }
      .fc-layout-013 .card-list .card p {
        flex-grow: 1;
        font-size: 14px;
        line-height: 22px;
        margin-top: 12px; }
