.composer-listitem
  display: flex
  align-content: center
  line-height: 1.75rem

  &-layer, &-layout, &-history
    box-shadow: inner-border-for(bottom, $color: var(--c-regional-hint))

  > label
    padding-left: 0.5rem
    // box-shadow: inner-border-for(left, $color: var(--c-regional-hint))

  > *
    cursor: inherit

  &.focused
    background: var(--c-bg-active)

  .composer-listitem-icon
    > img, > svg
      vertical-align: top
