@media screen and (max-width: 599px) {
  .fcc-block { background-color: orange; }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .fcc-block { background-color: green; }
}
@media screen and (min-width: 960px) {
  .fcc-block { background-color: violet; }
}
