@import '../common';

.fc-layout-001 {
  @extend %fc-layout;

  p {
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
  }

  em {
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    box-shadow: inset 0 -8px 0 #50e3c2;
  }
}
