<div class="container">
  <div class="vbox">
    <% if (sectionTitle) { %>
      <div class="hbox quarter">
        <h6><%= sectionTitle %></h6>
      </div>
    <% } %>
    <div class="hbox expand"><p><%= content %></p></div>
  </div>
</div>
