@import '../common';

.fc-layout-016 {
  @extend %fc-layout;

  @import '../collapse';

  table {
    margin-top: 30px;
    width: 100%;
    box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.1);
    border: solid 1px #e6e8eb;
    background-color: #ffffff;
    border-collapse: collapse;
  }

  tr + tr {
    border-top: 1px solid #e6e8eb;
  }

  td {
    vertical-align: top;
    padding: 30px 20px;
    width: 190px;
  }

  td + td {
    padding-left: 30px;
  }

  td:last-child {
    width: 440px;
  }

  h5:before {
    display: inline-block;
    position: relative;
    left: -20px;
    width: 4px;
    height: 12px;
    content: ' ';
    background-color: #aeaeae;
  }

  h5 {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: #aeaeae;
  }

  p {
    font-size: 12px;
    line-height: 18px;
    color: #aeaeae;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
  }

  td ul {
    list-style: none;
  }

  td ul li {
    font-size: 12px;
    line-height: 18px;
  }

  td ul li:before {
    content: '- ';
  }

  .more {
    display: none;
  }

  .collapse {
    display: block;
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px;
  }

  .collapse input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-size: 12px;
    color: #aeaeae;
  }

  .collapse input::-ms-expand {
    display: none;
  }

  .collapse input:focus {
    outline: none;
  }

  .collapse input:after {
    content: '더 보기 \f078'; /* fas fa-chevron-down */
  }

  .collapse input:checked:after {
    content: '접어서 보기 \f077'; /* fas fa-chevron-up */
  }
}
