@charset "UTF-8";
/* 100% */
/* 480px = 50% */
/* 230px = 25% */
.fc-layout-016 * {
  box-sizing: border-box; }

.fc-layout-016 .container {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-016 .container {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-016 .container {
      max-width: 980px;
      margin: 0 auto; } }
  .fc-layout-016 .container.dark {
    background-color: #282828; }

.fc-layout-016 .container-fluid {
  padding: 90px 0;
  background: no-repeat center;
  background-size: cover;
  width: 100%; }
  @media screen and (max-width: 1024px) {
    .fc-layout-016 .container-fluid {
      margin: 0; } }
  @media screen and (min-width: 1024px) {
    .fc-layout-016 .container-fluid {
      max-width: 1920px;
      margin: 0 auto; } }
  .fc-layout-016 .container-fluid .container {
    padding: 0; }

.fc-layout-016 h1,
.fc-layout-016 h2,
.fc-layout-016 h3,
.fc-layout-016 h4,
.fc-layout-016 h5,
.fc-layout-016 h6,
.fc-layout-016 p,
.fc-layout-016 blockquote,
.fc-layout-016 ul,
.fc-layout-016 ol,
.fc-layout-016 li,
.fc-layout-016 dl,
.fc-layout-016 dt,
.fc-layout-016 dd {
  margin: 0;
  padding: 0;
  word-break: break-all; }


.fc-layout-016 h6 {
  display: inline-block;
  margin: 0;
  padding: 3px 14px;
  line-height: 18px;
  /* 28(height) - 2x2(border) - 2x3(padding) */
  font-size: 14px;
  font-weight: bold;
  color: #ed234b;
  border: 2px solid #ed234b; }

.fc-layout-016 h6:after {
  content: '.';
  color: #ed234b; }

.fc-layout-016 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.fc-layout-016 .vbox,
.fc-layout-016 .hbox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.fc-layout-016 .vbox {
  flex-direction: row; }


.fc-layout-016 .hbox {
  flex-direction: column; }

.fc-layout-016 .hbox.full {
  flex: 0 1 980px; }

.fc-layout-016 .hbox.quarter {
  flex: 0 1 230px; }

.fc-layout-016 .hbox.half {
  flex: 0 1 480px; }

.fc-layout-016 .hbox.expand {
  flex: 1 1 0; }

.fc-layout-016 .hbox + .hbox {
  margin-left: 20px; }

.fc-layout-016 .vbox + .vbox {
  margin-top: 30px; }

.fc-layout-016 .collapse {
  position: relative;
  margin: 0;
  padding: 0; }

.fc-layout-016 .collapse-indicator {
  /* FIXME: buggy on IE */
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  background: #ffffff no-repeat; }

.fc-layout-016 .collapse-indicator:focus {
  outline: none; }

.fc-layout-016 table {
  margin-top: 30px;
  width: 100%;
  box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.1);
  border: solid 1px #e6e8eb;
  background-color: #ffffff;
  border-collapse: collapse; }

.fc-layout-016 tr + tr {
  border-top: 1px solid #e6e8eb; }

.fc-layout-016 td {
  vertical-align: top;
  padding: 30px 20px;
  width: 190px; }

.fc-layout-016 td + td {
  padding-left: 30px; }

.fc-layout-016 td:last-child {
  width: 440px; }

.fc-layout-016 h5:before {
  display: inline-block;
  position: relative;
  left: -20px;
  width: 4px;
  height: 12px;
  content: ' ';
  background-color: #aeaeae; }

.fc-layout-016 h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: #aeaeae; }

.fc-layout-016 p {
  font-size: 12px;
  line-height: 18px;
  color: #aeaeae; }

.fc-layout-016 h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px; }

.fc-layout-016 td ul {
  list-style: none; }

.fc-layout-016 td ul li {
  font-size: 12px;
  line-height: 18px; }

.fc-layout-016 td ul li:before {
  content: '- '; }

.fc-layout-016 .more {
  display: none; }

.fc-layout-016 .collapse {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  line-height: 18px; }

.fc-layout-016 .collapse input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: bold;
  font-size: 12px;
  color: #aeaeae; }

.fc-layout-016 .collapse input::-ms-expand {
  display: none; }

.fc-layout-016 .collapse input:focus {
  outline: none; }

.fc-layout-016 .collapse input:after {
  content: '더 보기 \f078';
  /* fas fa-chevron-down */ }

.fc-layout-016 .collapse input:checked:after {
  content: '접어서 보기 \f077';
  /* fas fa-chevron-up */ }
