<div class="container">
  <div class="vbox">
    <div class="hbox">
      <img src="<%= image1 %>">
    </div>
  </div>
  <div class="vbox">
    <div class="hbox half">
      <img src="<%= image2 %>">
    </div>
    <div class="hbox half">
      <img src="<%= image3 %>">
    </div>
  </div>
</div>
